@{
    ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>


<div class="row">
    
    <div class="col-md-2">
        
        <div class="btn-group-vertical" data-bind="foreach: chatRooms">
            <button type="button" class="btn btn-default btn-sm" data-bind="enable: $root.selectedRoom.Id != Id, text: Name, click: $root.selectRoom"></button>
        </div>
    </div>
    <div class="col-md-8">Messages</div>
    <div class="col-md-2">
        <ul data-bind="foreach: currentRoomUsers">
            <li><span data-bind="text: Name"></span></li>
        </ul>
    </div>
</div>

<script type="text/javascript">

     $(document).ready(function() {

         function RoomsViewModel() {
             var self = this;

             self.chatRooms = ko.observableArray();
             self.currentRoomUsers = ko.observableArray();
             self.currentRoomMessages = ko.observableArray();
             self.selectedRoom = ko.observable();

             self.activate = function () {
                 $.ajax({
                     type: 'GET',
                     url: '@Url.Action("GetSubscribedRooms")',
                     success: function (content) {
                         vm.chatRooms(content);
                     }
                 });
             }

             self.selectRoom = function (room) {
                 $.ajax({
                     type: 'GET',
                     url: '@Url.Action("GetUsersSubscribedToRoom")',
                     data: { roomId: room.Id },
                     success: function (users) {
                         //vm.currentRoomUsers(users);

                         if (self.selectedRoom())
                             proxy.server.leave(self.selectedRoom());

                         self.selectedRoom(room);

                         proxy.server.join(self.selectedRoom());
                     }
                 });
             };
         }

         var vm = new RoomsViewModel();
         ko.applyBindings(vm);
         vm.activate();

         var proxy = $.connection.cozyChatHub;
         $.connection.hub.start();

         proxy.client.userJoined = function (users) {
             vm.currentRoomUsers(users);
         };

         proxy.client.userLeft = function (users) {
             vm.currentRoomUsers(users);
         };

         $(window).on('beforeunload', function () {
             proxy.server.browserClosing(vm.selectedRoom());
         });
     });
 </script>

