@{
    ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>


<div class="row">
    
    <div class="col-md-3">
        
        <div class="list-group" data-bind="foreach: chatRooms">
            <a href="#" data-bind="text: Name, css: $root.roomClassName(Id), click: $root.selectRoom"></a>
        </div>
    </div>
    <div class="col-md-8">Messages</div>
    <div class="col-md-2">
        <ul data-bind="foreach: currentRoomUsers">
            <li><span data-bind="text: Name"></span></li>
        </ul>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {

        function RoomsViewModel() {
            var self = this;

            self.chatRooms = ko.observableArray();
            self.currentRoomUsers = ko.observableArray();
            self.currentRoomMessages = ko.observableArray();
            self.selectedRoom = ko.observable();

            self.roomClassName = function(id) {
                if (self.selectedRoom() && self.selectedRoom().Id == id)
                    return 'list-group-item active';
                return 'list-group-item';
            };

            self.activate = function() {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSubscribedRooms")',
                     success: function(content) {
                         vm.chatRooms(content);
                     }
                 });
             };

             self.selectRoom = function(room) {

                 if (!self.selectedRoom()) {
                     self.selectedRoom(room);
                     proxy.server.join(self.selectedRoom());
                 }

                 if (self.selectedRoom() && self.selectedRoom().Id != room.Id) {
                     proxy.server.leave(self.selectedRoom());
                     self.selectedRoom(room);
                     proxy.server.join(self.selectedRoom());
                 };
             };
         }

         var vm = new RoomsViewModel();
         ko.applyBindings(vm);
         vm.activate();

         var proxy = $.connection.cozyChatHub;
         $.connection.hub.logging = true;
         $.connection.hub.start();
         proxy.client.userJoined = function (users) {
             vm.currentRoomUsers(users);
         };
         proxy.client.userLeft = function (users) {
             vm.currentRoomUsers(users);
         };
        proxy.client.notify = function(val) {
            alert(val);
        };
         $(window).on('beforeunload', function () {
             proxy.server.leave(vm.selectedRoom());
         });
     });
 </script>

