@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>

<div class="row">
    
    <div class="col-md-3">
        <div class="list-group" data-bind="foreach: chatRooms">
            <a href="#" data-bind="text: Name, css: $root.roomClassName(Id), click: $root.selectRoom"></a>
        </div>
    </div>
    <div class="col-md-7" data-bind="visible: selectedRoom() != null">
        <div id="msgs" style="height: 400px; overflow-y: auto;">
            
            <table class="table table-condensed">
                <tbody data-bind="foreach: currentRoomMessages">
                    <tr>
                        <td><span data-bind="text: moment(Sent).format('D/MM/YYYY HH:mm')"></span></td>
                        <td><span data-bind="text: Sender"></span></td>
                        <td><span data-bind="text: Content"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form class="form-group form-inline">
            <input type="text" class="form-control" 
                   placeholder="Enter your message" 
                   data-bind="value: newMessage" />

            <button class="btn btn-default" 
                    data-bind="click: addNewMessage">Send</button>
        </form>
    </div>
    <div class="col-md-2" data-bind="visible: selectedRoom() != null">
        Online users:
        <ul data-bind="foreach: currentRoomUsers">
            <li><span data-bind="text: Name"></span></li>
        </ul>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/roomsViewModel")

    <script type="text/javascript">
        (function($, ko) {
            var proxy = $.connection.cozyChatHub;
            $.connection.hub.start();

            var vm = new RoomsViewModel('@Url.Content("~/")', '@User.Identity.GetUserId()', proxy);

            proxy.client.userJoined = function(users) {
                vm.currentRoomUsers(users);
            };
            proxy.client.userLeft = function(users) {
                vm.currentRoomUsers(users);
            };
            $(window).on('beforeunload', function() {
                proxy.server.leave(vm.selectedRoom());
            });
            proxy.client.messageSent = function(message) {
                var elem = $('#msgs'),
                    isDown = elem[0].scrollTop === (elem[0].scrollHeight - elem[0].offsetHeight);
                vm.currentRoomMessages.push(message);
                if (isDown)
                    elem.stop().animate({ scrollTop: elem[0].scrollHeight });
            };
            ko.applyBindings(vm);
            vm.activate();
        })(window.jQuery, ko);
    </script>
}